*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
}
.weather-panel{
	display: flex;
	align-content: center;/*Alinha o conteudo*/
}
.weather-panel--right{
	background-color: green;
}
.weather-panel--left{
	flex: 1;
	background-image: url('../images/weatherImage.jpg');
	background-size: cover;
	background-position: center;
	height: 250px;
}